<div class="card password-card">
    <div class="card-body">
        <h2 class="card-title">Change Password</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="password-form">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Current Password</label>
                <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control" placeholder="old password">
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="new password">
            </div>
            <div class="mb-3">
                <label for="confirmpassword" class="form-label">Confirm Password</label>
                <input type="password" id="confirmpassword" formControlName="confirmpassword" class="form-control" placeholder="confirm password">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </form>
    </div>
</div>

