.password-card {
   
    max-width: 400px; /* Set the maximum width of the card */
    margin: 0 auto; /* Center the card horizontally */
    border: 1px solid #ccc; /* Add a border to the card */
    border-radius: 10px; /* Add rounded corners to the card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow to the card */
    background-color: rgb(213, 222, 222);
}

.password-card .card-body {
    
    padding: 20px; /* Add padding to the card body */
}

.password-card .card-title {
    margin-bottom: 20px; /* Add some space below the card title */
}

.password-form {
    margin-bottom: 0; /* Remove bottom margin of the form */
}

.password-form .btn {
    width: 100%; /* Make the button full width */
}
.card{
    margin-top: 90px;
    
}
.card-title{
    text-align: center;
}