.error {
    color: rgb(20, 18, 18);
    border: 1px solid red; /* Add a border */
    padding: 10px; /* Add padding */
    background-color: #ffe6e6; /* Add a background color */
    border-radius:5px;
  }
  .container{
    margin-top: 90px;
  }