
    <div class="row">
        <div class="col-md-7">
            <img src="https://stoco.in/images/inventory.png" alt="">
        </div>
        <div class="col-md-5">
                    <!-- <div class="card" > -->
                        <!-- <div class="card-body">  -->
                             <h2 class="card-title">Welcome To InveLabs</h2> 
                            <form [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="mb-1">
                                    <label for="username" class="form-label">Email</label>
                                    <input type="email" id="username" name="username" formControlName="username" class="form-control smaller-textbox" required>
                                </div>
                                <div class="mb-1">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" id="password" name="password" formControlName="password" class="form-control smaller-textbox" required>
                                  

                                </div>
                                
                                <button  type="submit" class="btn my-4  ">Login</button>
                            </form>
                        </div>
                    </div>
           
            

    

   


